svg {
    fill: none;
    stroke: black;

}

svg text {
    fill: black;
    stroke: none;
}

svg .nodeinfo {
    aspect-ratio: 1/.75;
    
    font-family: "Myriad Pro";
    font-size: .8em;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

svg .nodeinfo p {
    margin: 0;
}

svg .nodetype{
    font-size: .5em;
    text-align: right;
}